services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    volumes:
      - ./examples/uploads:/app/uploads

  worker:
    build: .
    command: python worker.py
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  redis:
    image: redis:8.6-alpine
    ports:
      - "6379:6379"
