services:
  api:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    volumes:
      - ./examples/uploads:/app/uploads
      - main.py:/app/main.py

  worker:
    build: .
    command: python worker.py
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  redis:
    image: redis:8.6-alpine
    ports:
      - "6379:6379"
